@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;600;700&display=swap');

:root {
  --azul-escuro: #07001A;
  --roxo-escuro: #130D25;
  --verde-principal: #1BB96B;
  --verde-escuro: rgba(27, 185, 107, 0.50);
  --roxo-opaco: rgba(103, 103, 103, 0.5)
}

body {
  background-color: var(--azul-escuro);
  font-family: 'Open Sans', sans-serif;
}

* {
  padding: 0;
  margin: 0;
}
